name: CI-CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar o Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.12'
        
      - name: Instalar dependências
        run: |
          pip install pytest
      
      - name: Rodar testes
        run: |
          pytest
  cd:
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Executar scripts de deploy
        run: |
          echo "Iniciando processo de Entrega Contínua..."
          echo "Executando o script deploy.sh"
          bash deploy.sh
          echo "Entrega Contínua concluída."
